.sheet {
  background-color: var(--sheet-0_background-color);
}

.sheet--depth_1 {
  background-color: var(--sheet-2_background-color);
}

.sheet--depth_2 {
  background-color: var(--sheet-2_background-color);
}

.sheet--depth_2 .sheet {
  background-color: var(--sheet-1_background-color);
}

.sheet--depth_3 {
  background-color: var(--sheet-2_background-color);
}

.sheet--depth_3 .sheet {
  background-color: var(--sheet-1_background-color);
}

.sheet--depth_3 .sheet .sheet {
  background-color: var(--sheet-0_background-color);
}
